body{
    display: flex;
    height: 100px;
    width: 800px;
    justify-content: space-around;
    border: solid rebeccapurple;
    margin: 10px;

}
.botonIzq{
    width: 100px;
    background-color: aqua;
    visibility: hidden;
}
.botonDer{
    width: 100px;
    background-color: aqua;
    visibility: visible;
}
#btnI{
    width: 100%;
}
#btnD{
    width:100%;
}